@import "tailwindcss";

@theme {
  --animate-glow: glow 1s ease-in-out infinite;

  @keyframes glow {
  0%,
  100% {
    box-shadow: 0px 0px white;
  }
  50% {
    box-shadow: 10px 10px white;
  }
}
}

